<!-- contant section design -->
<section class="contact" id="contact">
    <h2 class="heading">Contact</h2>
    <form action="#">
        <div class="input-box">
            <input type="text" placeholder="Full Name">
            <input type="email" placeholder="Email Address">
        </div>
        <div class="input-box">
            <input type="number" placeholder="Mobile Number">
            <input type="text" placeholder="Email Subject">
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <input type="submit" value="send message" class="btn">
    </form>
</section>