
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16" aria-label="Slide 17"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17" aria-label="Slide 18"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18" aria-label="Slide 19"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/skill1.jpg" class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/skill2.png" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/skill3.jpg" class="d-block w-100" alt="Slide 3">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/skill4.png" class="d-block w-100" alt="Slide 4">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/carpenter2.jpg" class="d-block w-100" alt="Slide 5">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/carpenter3.jpg" class="d-block w-100" alt="Slide 6">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/carpenter4.jpg" class="d-block w-100" alt="Slide 7">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/electric1.jpg" class="d-block w-100" alt="Slide 8">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/electric2.jpg" class="d-block w-100" alt="Slide 9">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/electric3.jpg" class="d-block w-100" alt="Slide 10">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/electric4.jpg" class="d-block w-100" alt="Slide 11">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/electric5.jpg" class="d-block w-100" alt="Slide 12">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/painter1.jpg" class="d-block w-100" alt="Slide 13">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/painter2.jpg" class="d-block w-100" alt="Slide 14">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/plumber1.jpg" class="d-block w-100" alt="Slide 15">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/plumber2.jpg" class="d-block w-100" alt="Slide 16">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/plumber3.jpg" class="d-block w-100" alt="Slide 17">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/plumber4.jpg" class="d-block w-100" alt="Slide 18">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>








<!-- end crousel -->
<!-- <br>
<div class="container-fluid" id="sercice-icon">
  <div class="row" >
    <div class="col" id="ram">
      <img src="/assets/images/icon-water-cooler.png" alt="" id="icon-pic">
    </div> 
    <div class="col" id="ram">
      <img src="/assets/images/cctv_repair.png" alt="" id="icon-pic">
    </div>
    <div class="col" id="ram">
      <img src="/assets/images/geyser.png" alt="">
    </div>
    <div class="col" id="ram">
      <img src="/assets/images/homeservice_icon.png" alt="" id="icon-pic">
    </div>
    <div class="col" id="ram">
      <img src="/assets/images/icon-air-conditioner.png" alt="" id="icon-pic">
    </div>
    <div class="col" id="ram">
      <img src="/assets/images/icon-plumber.png" alt="" id="icon-pic">
    </div>
  </div>

</div> -->





<!-- service section design -->
<section class="service" id="service">
  <h2 class="heading" id="electrician">Electrician</h2>

  <div class="service-container">
      <div class="service-box">
         <img src="/assets/images/ac1.webp" alt="">
          <h3>AC Repair</h3>
          <h3>&#8377;500/-</h3>
          <p></p>    
          <a href="#" class="btn">Book Now</a>
      </div>

      <div class="service-box">
        <img src="/assets/images/coolerRepair.webp" alt="">
          <h3>Cooler Repair</h3>
          <h3>&#8377;500/-</h3>
          <p></p>    
          <a href="#" class="btn">Book Now</a>
      </div>

      <div class="service-box">
        <img src="/assets/images/fanRepair.jpg" alt="">
          <h3>Fan Repair</h3>
          <h3>&#8377;200/-</h3>
          <p></p>    
          <a href="#" class="btn">Book Now</a>
      </div>
      <div class="service-box">
        <img src="/assets/images/houseWiring.jpg" alt="">
          <h3>House Wiring</h3>
          <h3>&#8377;200/sq</h3>
          <p></p>    
          <a href="#" class="btn">Book Now</a>
      </div>
  </div>
  <!-- Plumbar section -->
  <h2 class="heading">Plumber</h2>
  <div class="service-container">
      <div class="service-box">
         <img src="/assets/images/housePlumbing.jpg" alt="">
          <h3>House Plumber</h3>
          <h3>&#8377;20/ft</h3>
          <p></p>    
          <a href="#" class="btn">Book Now</a>
      </div>

      <div class="service-box">
        <img src="/assets/images/waterLick.webp" alt="">
          <h3>Water leack Repair</h3>
          <h3>&#8377;100/-</h3>
          <p></p>    
          <a href="#" class="btn">Book Now</a>
      </div>

      <div class="service-box">
        <img src="/assets/images/washWasin.jpg" alt="">
          <h3>Wash wasin Repair</h3>
          <h3>&#8377;100/-</h3>
          <p></p>    
          <a href="#" class="btn">Book Now</a>
      </div>
      <div class="service-box">
        <img src="/assets/images/waterPump.jpeg" alt="">
          <h3>Water moter fixing</h3>
          <h3>&#8377;300/-</h3>
          <p></p>    
          <a href="#" class="btn">Book Now</a>
      </div>
    </div>

      <!-- Carpenter section -->
  <h2 class="heading">Carpenter</h2>
  <div class="service-container">
      <div class="service-box">
         <img src="/assets/images/doorInstall.jpg" alt="">
          <h3>Door Installation</h3>
          <h3>&#8377;500/-</h3>
          <p></p>    
          <a href="#" class="btn">Book Now</a>
      </div>

      <div class="service-box">
        <img src="/assets/images/windowRepair.jpg" alt="">
          <h3>Window Repair</h3>
          <h3>&#8377;200/-</h3>
          <p></p>    
          <a href="#" class="btn">Book Now</a>
      </div>

      <div class="service-box">
        <img src="/assets/images/windowInsl.jpg" alt="">
          <h3>Window Replace</h3>
          <h3>&#8377;200/-</h3>
          <p></p>    
          <a href="#" class="btn">Book Now</a>
      </div>
      <div class="service-box">
        <img src="/assets/images/doorRepair.jpeg" alt="">
          <h3>Door Repair</h3>
          <h3>&#8377;200/-</h3>
          <p></p>    
          <a href="#" class="btn">Book Now</a>
      </div>
  </div>
</section>