<!-- start crouseel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/poster-2.jpg" class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/poster1.jpg" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/poster3.jpg" class="d-block w-100" alt="Slide 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- end crousel -->
<!-- home section design -->
<section class="home" id="home">
  <div class="home-content">
      <span><h3 style="text-align: center;">Our Services</h3></span>
      <!-- <h3>And I'm a <span class="multiple-text"></span></h3> -->
      <p>Gone are the days of searching through multiple websites or making numerous phone calls to find the services you require. With our platform,
        everything you need is just a few clicks away. Need someone to clean your home? No problem. Looking for a skilled professional to repair your
         appliances? We've got you covered. Want to book a fitness class or schedule a wellness session? It's all available at your fingertips.
         At our platform, we understand the demands of daily life and the challenges of juggling multiple tasks. That's why we've curated a
          comprehensive range of services spanning various categories, ensuring that all your needs are met effortlessly. Whether you're looking for 
          assistance with household chores, professional services, or specialized tasks, our platform has you covered.</p>
      <a routerLink="/services" class="btn">Explore more</a>
  </div>
  <div class="home-img">
      <img src="/assets/images/slider-img.png" >
  </div>

</section>


<!-- service section design -->
<section class="service" id="service">
  <h2 class="heading">Our <span>Services</span></h2>

  <div class="service-container">
      <div class="service-box">
         <img src="/assets/images/electrician.png" alt="">
          <h3>Electrician</h3>
          <h3></h3>
          <p></p>    
          <a routerLink="/services" class="btn">Click here</a>
      </div>

      <div class="service-box">
        <img src="/assets/images/plumber1.jpg" alt="">
          <h3>Plumber</h3>
          <h3></h3>
          <p></p>
          <a routerLink="/services" class="btn">Click here</a>
      </div>

      <div class="service-box">
        <img src="/assets/images/carpenter1.jpg" alt="">
          <h3>Carpenter</h3>
          <h3></h3>
          <p></p>
          <a routerLink="/services" class="btn">Click here</a>
      </div>
      <div class="service-box">
        <img src="/assets/images/painter1.jpg" alt="">
          <h3>Painter</h3>
          <h3></h3>
          <p></p>
          <a routerLink="/services" class="btn">Click here</a>
      </div>
  </div>
</section>

<section class="home" id="home">
  <div class="home-img">
    <img src="/assets/images/skill_teachers.png" >
</div>
  <div class="home-content" style="height: 35vh;">
      <span><h3>We are also provide 30 Day training</h3></span>
      <!-- <h3>And I'm a <span class="multiple-text"></span></h3> -->
      <p>Welcome to our revolutionary platform, where we bring together a multitude of services all under one roof, coupled with a transformative 30-day skill training program. What sets our training program apart is our commitment to your success beyond the classroom. Upon completion of the course, we don't just bid you farewell; we open doors to exciting job opportunities.
        Leveraging our extensive network of partners and employers, we connect skilled individuals with rewarding career prospects. </p>
      <a routerLink="/services" class="btn">Register here</a>
  </div>
</section>
  
  